## CAB420 Final Assignment
### Author: KA LONG LEE ( N9845097 )

# Importing Library and Read Data from CSV files

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

# Spliting data to trainning and testing set
from sklearn.model_selection import train_test_split

# Matplotlib setting 
%config InlineBackend.print_figure_kwargs = {'bbox_inches':None}
%config InlineBackend.rc = {'font.size': 30, 'figure.figsize': (30.0, 20.0), 'figure.facecolor': (1, 1, 1, 0), 'figure.subplot.bottom': 0.125, 'figure.edgecolor': (1, 1, 1, 0), 'figure.dpi': 500}

## Data Preprocessing

In [2]:
from dataset import convert_dummy_movie_df, generate_rating_df_With_avg_rating 
from dataset import get_tags_df, generate_full_df, generate_user_avg_rating_df, generate_NB_df

## Movie Dataframe

In [3]:
movie_df = convert_dummy_movie_df();
movie_df.head()

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,
1,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Rating Dataframe

In [4]:
rating_df = generate_rating_df_With_avg_rating();
rating_df.head()

   userId  movieId  rating  user_avg_rating  movie_avg_rating
0       1        1     4.0         4.366379          3.920930
1       1        3     4.0         4.366379          3.259615
2       1        6     4.0         4.366379          3.946078
3       1       47     5.0         4.366379          3.975369
4       1       50     5.0         4.366379          4.237745

## Tags Dataframe

In [5]:
tags_df = get_tags_df()
tags_df.head()

,movieId,"tag_""artsy""",tag_06 oscar nominated best movie - animation,tag_1900s,tag_1920s,tag_1950s,tag_1960s,tag_1970s,tag_1980s,tag_1990s,...,tag_world war i,tag_world war ii,tag_writing,tag_wrongful imprisonment,tag_wry,tag_younger men,tag_zither,tag_zoe kazan,tag_zombies,tag_zooey deschanel
0,60756,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60756,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,60756,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,89774,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,89774,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Full information Dataset (rating + tags + movies)

In [6]:
full_rating_dataset = generate_full_df()
full_rating_dataset

,userId,movieId,rating,user_avg_rating,movie_avg_rating,Action,Adventure,Animation,Children,Comedy,...,tag_world war i,tag_world war ii,tag_writing,tag_wrongful imprisonment,tag_wry,tag_younger men,tag_zither,tag_zoe kazan,tag_zombies,tag_zooey deschanel
0,1,1,4.0,4.366379,3.920930,0,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,4.0,4.366379,3.920930,0,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,4.0,4.366379,3.920930,0,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,3,4.0,4.366379,3.259615,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,3,4.0,4.366379,3.259615,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1,6,4.0,4.366379,3.946078,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1,47,5.0,4.366379,3.975369,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1,47,5.0,4.366379,3.975369,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1,47,5.0,4.366379,3.975369,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1,50,5.0,4.366379,4.237745,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1,50,5.0,4.366379,4.237745,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1,50,5.0,4.366379,4.237745,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1,50,5.0,4.366379,4.237745,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1,50,5.0,4.366379,4.237745,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1,50,5.0,4.366379,4.237745,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1,70,3.0,4.366379,3.509091,1,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1,101,5.0,4.366379,3.782609,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,1,101,5.0,4.366379,3.782609,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1,101,5.0,4.366379,3.782609,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1,110,4.0,4.366379,4.031646,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1,110,4.0,4.366379,4.031646,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,1,110,4.0,4.366379,4.031646,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,1,110,4.0,4.366379,4.031646,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,1,110,4.0,4.366379,4.031646,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1,110,4.0,4.366379,4.031646,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,1,110,4.0,4.366379,4.031646,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,1,110,4.0,4.366379,4.031646,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,1,110,4.0,4.366379,4.031646,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,1,110,4.0,4.366379,4.031646,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,1,151,5.0,4.366379,3.545455,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285732,610,160836,3.0,3.688556,3.000000,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285733,610,161582,4.0,3.688556,3.562500,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285734,610,161634,4.0,3.688556,3.300000,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285735,610,162350,3.5,3.688556,3.583333,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285736,610,163937,3.5,3.688556,3.500000,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285737,610,163981,3.5,3.688556,3.500000,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285738,610,164179,5.0,3.688556,3.980769,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285739,610,164179,5.0,3.688556,3.980769,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285740,610,164179,5.0,3.688556,3.980769,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285741,610,164179,5.0,3.688556,3.980769,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285742,610,164179,5.0,3.688556,3.980769,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285743,610,164179,5.0,3.688556,3.980769,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285744,610,164179,5.0,3.688556,3.980769,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285745,610,166528,4.0,3.688556,3.925926,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285746,610,166534,4.0,3.688556,3.333333,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285747,610,168248,5.0,3.688556,4.142857,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285748,610,168248,5.0,3.688556,4.142857,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285749,610,168248,5.0,3.688556,4.142857,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285750,610,168248,5.0,3.688556,4.142857,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285751,610,168248,5.0,3.688556,4.142857,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285752,610,168248,5.0,3.688556,4.142857,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285753,610,168248,5.0,3.688556,4.142857,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285754,610,168248,5.0,3.688556,4.142857,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285755,610,168250,5.0,3.688556,3.633333,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285756,610,168252,5.0,3.688556,4.280000,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285757,610,168252,5.0,3.688556,4.280000,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285758,610,168252,5.0,3.688556,4.280000,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285759,610,168252,5.0,3.688556,4.280000,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285760,610,168252,5.0,3.688556,4.280000,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285761,610,170875,3.0,3.688556,2.333333,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Random Forest Algorithm

In [7]:
from sklearn.utils import shuffle
full_rating_dataset = shuffle(full_rating_dataset)

from RandomForest import Random_Forest_Prediction

X = full_rating_dataset.drop(columns=['rating'], axis=1).values
y = full_rating_dataset.loc[:,'rating'].astype(str).values

Random_Forest_Prediction(X,y,10)

Random Forest Classifier is trainning.... *if estimator is too large it might take very long time...*

Accuracy on predicting train data :
0.9935710607749721
Accuracy on predicting test data :
0.7754202195289809
Classification Report :

              precision    recall  f1-score   support

         0.5       0.72      0.65      0.69       903
         1.0       0.67      0.58      0.62      1754
         1.5       0.51      0.49      0.50       827
         2.0       0.59      0.56      0.57      3916
         2.5       0.58      0.56      0.57      3072
         3.0       0.67      0.70      0.68     12047
         3.5       0.69      0.71      0.70      9050
         4.0       0.79      0.81      0.80     23275
         4.5       0.87      0.82      0.85     10579
         5.0       0.91      0.90      0.90     20306

   micro avg       0.78      0.78      0.78     85729
   macro avg       0.70      0.68      0.69     85729
weighted avg       0.78      0.78      0.78     85729

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

## Naive Bayes Gaussian Models

In [8]:
df = generate_NB_df()

df.head()

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,tag_world war i,tag_world war ii,tag_writing,tag_wrongful imprisonment,tag_wry,tag_younger men,tag_zither,tag_zoe kazan,tag_zombies,tag_zooey deschanel
0,1,1,4.0,0,1,1,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,4.0,0,1,1,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,4.0,0,1,1,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,3,4.0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,3,4.0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
from NaiveBayes import Naive_Bayes_Gaussian_Prediction
X = df.drop(columns=['rating'], axis=1).values
y = df['rating'].astype(str).values

Naive_Bayes_Gaussian_Prediction(X,y,0.2)

Test data Size :
0.2
Trainning Naive Bayes Classifier ...
Accuracy on predicting train data :
0.2741099431780901
Accuracy on predicting test data :
0.27179675607579656
Classification Report :

/usr/local/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

              precision    recall  f1-score   support

         0.5       0.00      0.00      0.00       565
         1.0       0.00      0.00      0.00      1162
         1.5       0.03      0.02      0.02       545
         2.0       0.00      0.00      0.00      2599
         2.5       0.00      0.00      0.00      2081
         3.0       0.00      0.00      0.00      7987
         3.5       0.16      0.09      0.11      6116
         4.0       0.28      0.39      0.32     15386
         4.5       0.00      0.00      0.00      7101
         5.0       0.28      0.67      0.40     13611

   micro avg       0.27      0.27      0.27     57153
   macro avg       0.07      0.12      0.09     57153
weighted avg       0.16      0.27      0.19     57153

GaussianNB(priors=None, var_smoothing=1e-09)

# K-Means Algorithm Clustering Similar Movies

In [10]:
# The dataset will use in this case
movie_df.iloc[:,1:-3].head()

movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9742 entries, 1 to 193609
Data columns (total 19 columns):
Action         9742 non-null int64
Adventure      9742 non-null int64
Animation      9742 non-null int64
Children       9742 non-null int64
Comedy         9742 non-null int64
Crime          9742 non-null int64
Documentary    9742 non-null int64
Drama          9742 non-null int64
Fantasy        9742 non-null int64
Film-Noir      9742 non-null int64
Horror         9742 non-null int64
IMAX           9742 non-null int64
Musical        9742 non-null int64
Mystery        9742 non-null int64
Romance        9742 non-null int64
Sci-Fi         9742 non-null int64
Thriller       9742 non-null int64
War            9742 non-null int64
Western        9742 non-null int64
dtypes: int64(19)
memory usage: 1.5 MB

In [11]:
# X only contains movie genres values
X = movie_df.iloc[:,1:-3].values

# Performs K = 1 to 50 for clustering the data
Ks = range(1,50)
# Array for saving inertias values for each K Clustering
inertias = []

# Loop K times 
for k in Ks:
    # Create KMeans
    model = KMeans(n_clusters = k)
    # Train KMeans 
    model.fit(X)
    inertias.append(model.inertia_)

# Plot inertias values vs K numbers 
plt.ylabel("inertias")
plt.xlabel("Numbers of K")
plt.plot(Ks,inertias,'-o')

NameError: name 'KMeans' is not defined

## We Can see the result from the graph. The numbers of Inertias are dramatically decreased when k= 1 to k = 20, from 16000 to 6000. Then it becomes slow, from 6000 to 4000 when k = 21 to k=50. We should choose K = 20 in this case

In [ ]:
# Create KMeans Algorithm to cluster the data in 20 groups 
model = KMeans(n_clusters = 20)

# Train KMeans
model.fit(X)

# Get the cluster values for each movie
labels = model.predict(X)

# Put the cluster value back to the dataset
movie_df['cluster'] = labels

# Save it into a new csv file, you can view the result in this csv file
movie_df.sort_values(by=['cluster']).to_csv("MovieCluster.csv")

## Hierarchy Clustering Similar Users

We need to create a new dataframe from the full rating dataset
The new dataframe should contains all the average rating the user previous rating for all the genre

In [25]:
%matplotlib inline
from Hierarchy_Clustering import HC_cluster_user, draw_user_dendrogram

mergings = draw_user_dendrogram()

ImportError: cannot import name 'HC_cluster_user' from 'Hierarchy_Clustering' (/Users/eric/Desktop/QUT/CAB420_Final_Project/Hierarchy_Clustering.py)

In [24]:
HC_cluster_User(mergings, 12.5)

NameError: name 'HC_cluster_User' is not defined

In [ ]:
X2 = user_avg_rating_df.iloc[:,1:].values

# Performs K = 1 to 50 for clustering the data
Ks2 = range(1,50)
# Array for saving inertias values for each K Clustering
inertias2 = []

# Loop K times 
for k in Ks2:
    # Create KMeans
    model = KMeans(n_clusters = k)
    # Train KMeans 
    model.fit(X2)
    inertias2.append(model.inertia_)

# Plot inertias values vs K numbers 
plt.ylabel("inertias")
plt.xlabel("Numbers of K")
plt.plot(Ks2,inertias2,'-o')

## From the Grpah above, We can see that the dramatic decrease stop around cluster = 14, So we use 14 to cluster the user group